.productdisplay{
    display: flex;
    margin: 0 170px
}
.productdisplay-left{
    display: flex;
    gap: 15px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction:column;
    gap: 14px
}
.productdisplay-img-list img{
    height: 110px
}
.productdisplay-main-img{
    width: 400px;
    height: 500px
}
.productdisplay-right{
    margin-left: 40px;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 500;
}
.productdisplay-right-stars{
   display: flex;
   align-items: center;
   margin-top: 10px;
   gap: 5px;
   color: #1c1c1c;
   font-size: 10px;
}
.productdisplay-right-stars img{
    width: 16px
}
.productdisplay-right-prices{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
    font-size: 16px;
    font-weight: 400;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141
}
.productdisplay-right-size h2{
    margin-top: 55px;
    color: #656565;
    font-size: 16px;
    font-weight: 400;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 30px 0;
    gap: 14px
}
.productdisplay-right-sizes div{
    padding: 6px 10px;
    background: #fbfbfb;
    border: 2px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 16px 30px;
    width: 160px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background: #ff4141;
    margin-bottom: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 10px;
    font-size: 14px;
}